@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}
h1,
h2,
h3,
h4,
li,
p,
button {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
}
:root {
  --primary-color: rgb(230, 83, 60);
}
.total-width {
  width: 1050px;
  margin: 0 auto;
}
.display-f-m {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.every-bio {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0px;
}
.every-title{
font-size: 48px;
font-weight: 900;
}
header {
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17),
    rgba(253, 253, 253, 0.108) 100%
  );
}

.start > .display-f-m {
  justify-content: space-between;
  flex-direction: row;
}
.nav-head {
  color: var(--primary-color);
  font-size: 36px;
  font-style: italic;
}
.break-special-1st i{
  display: none;
}
ul {
  list-style: none;
  display: flex;
  border: 1px solid var(--primary-color);
  padding: 0;
  border-radius: 39px;
}
li {
  padding: 10px 19px;
  align-self: center;
  margin-right: 20px;
}
li:nth-child(1) {
  background-color: var(--primary-color);
  margin: 4px 4px;
  margin-right: 20px;
  border-radius: 46px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
.head > .display-f-m {
  align-items: flex-start;
}
.head-1st {
  width: 50%;
  margin-top: 30px;
}
.head-title {
  font-size: 73px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.head-1st > .every-bio {
  margin-bottom: 28px;
}
.head-btn {
  border-radius: 42px;
  background-color: black;
  width: 43%;
  height: 8%;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(230, 83, 60);
  font-size: 18px;
  font-weight: 600;
}
.btn-1 {
  background: rgb(230, 83, 60);
  margin-right: 10px;
}
.floating-sec-1,
.floating-sec-2 {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  padding: 16px 24px;
}

.floating-sec-1 {
  width: 40%;
  bottom: 61%;
  left: 60%;
}
.floating-sec-1 > .every-bio {
  font-size: 13px;
}
.floating-sec-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 33.5%;
  right: 33%;
  width: 45%;
}
.floating-sec-2 .every-bio {
  font-size: 13px;
}
.red-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: red;
  border: 0;
}
.span-3,
.span-2 {
  margin: 0px;
  margin-bottom: 00px;
}

@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
  }
  .total-width {
    width: 100%;
  }
  .head-1st {
    width: 100%;
  }
  .nav-head{
    margin-left: 20px;
  }
  .break-special-1st i{
    display: block;
    color: white;
    margin-right: 20px;
  }
  .ul {
    display: none;
  }
  .head-1st {
    margin: 0;
  }
  .head-title {
    font-size: 35px;
    width: 65%;
    margin-left: 20px;
  }
  .head-1st > .every-bio {
    width: 70%;
    margin-left: 20px;
  }
  .head-btn {
    height: 50px;

    margin-right: 0;
    font-size: 16px;
  }
  .btn-1 {
    margin-left: 20px;
    margin-right: 5px;
  }
  #special-1 {
    display: none;
  }
  .head-2nd {
    width: 89%;
    margin: 0 auto;
    position: relative;
  }
  .head-2nd img {
    width: 100%;
  }
  .floating-sec-1 {
    position: absolute;
    width: 30%;
    bottom: 60%;
    font-size: 1rem;
    padding: 10px;
  }
  .floating-sec-2 {
    position: absolute;
    width: 40%;
    bottom: 20%;
    right: 0;
    left: 5%;
    font-size: 14px;
    padding: 10px;
  }
  .floating-sec-1 > .every-bio {
    font-size: 11px;
    line-height: 1.2;
  }
  .floating-sec-2 .every-bio {
    font-size: 11px;
    line-height: 1.2;
  }
  .red-circle {
    width: 39px;
    height: 39px;
  }
}


/* main */
.first-part{
  margin-top: -90px;
}
.first-part-2{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:  75px;
  margin-top: 60px;
}
.first-part-2 div {
  align-self: center;
}
.first-part-2 div > .every-bio,.first-part-mini-title{
  text-align: center;
}
.first-part-1 {
  width: 670px;
  margin: auto;
}
.first-part-1 > .every-bio{
  margin-top: -10px;
  text-align: center;
}
.first-part-img{
  border-radius: 50%;
 width: 100%;
 margin: 0 auto;
}
.first-part-img img{
  width: 100%;
  
}
@media screen and (max-width: 576px){

  .every-title{
    font-size: 32px;
  }
 .first-part{
  margin-top: 0px;
 }
  .first-part-1{
    width: 310px;
    margin: auto;
  }
  .first-part-1 > .every-bio,.every-title{
    text-align: center;
  }
 .first-part-2{
  grid-template-columns: repeat(1,1fr);
 }
 .first-part-2 div {
  width: 50%;
  margin: 0px auto;
 }
}