@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}
h1,
h2,
h3,
h4,
li,
p,
button,
th,
td {
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
}
:root {
  --primary-color: rgb(230, 83, 60);
}
.total-width {
  width: 1050px;
  margin: 0 auto;
}
.display-f-m {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.every-bio {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0px;
}
.every-title {
  font-size: 48px;
  font-weight: 900;
}
header {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17),
    rgba(253, 253, 253, 0.108),
    rgba(17, 17, 17) 100%
  );
}

.start > .display-f-m {
  justify-content: space-between;
  flex-direction: row;
}
.nav-head {
  color: var(--primary-color);
  font-size: 36px;
  font-style: italic;
}
.break-special-1st i {
  display: none;
}
ul {
  list-style: none;
  display: flex;
  border: 1px solid var(--primary-color);
  padding: 0;
  border-radius: 39px;
}
li {
  padding: 10px 19px;
  align-self: center;
  margin-right: 20px;
}
li:nth-child(1) {
  background-color: var(--primary-color);
  margin: 4px 4px;
  margin-right: 20px;
  border-radius: 46px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}
.head > .display-f-m {
  align-items: flex-start;
}
.head-1st {
  width: 50%;
  margin-top: 30px;
}
.head-title {
  font-size: 73px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.head-1st > .every-bio {
  margin-bottom: 28px;
}
.head-btn {
  border-radius: 42px;
  background-color: black;
  width: 43%;
  height: 8%;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(230, 83, 60);
  font-size: 18px;
  font-weight: 600;
}
.btn-1 {
  background: rgb(230, 83, 60);
  margin-right: 10px;
}
.floating-sec-1,
.floating-sec-2 {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
  padding: 16px 24px;
}

.floating-sec-1 {
  width: 40%;
  bottom: 61%;
  left: 60%;
}
.floating-sec-1 > .every-bio {
  font-size: 13px;
}
.floating-sec-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 33.5%;
  right: 33%;
  width: 45%;
}
.floating-sec-2 .every-bio {
  font-size: 13px;
}
.red-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: red;
  border: 0;
}
.span-3,
.span-2 {
  margin: 0px;
  margin-bottom: 00px;
}

@media screen and (max-width: 576px) {
  .head {
    flex-direction: column;
  }
  .total-width {
    width: 100%;
  }
  .head-1st {
    width: 100%;
  }
  .nav-head {
    margin-left: 20px;
  }
  .break-special-1st i {
    display: block;
    color: white;
    margin-right: 20px;
  }
  .ul {
    display: none;
  }
  .head-1st {
    margin: 0;
  }
  .head-title {
    font-size: 35px;
    width: 65%;
    margin-left: 20px;
  }
  .head-1st > .every-bio {
    width: 70%;
    margin-left: 20px;
  }
  .head-btn {
    height: 50px;

    margin-right: 0;
    font-size: 16px;
  }
  .btn-1 {
    margin-left: 20px;
    margin-right: 5px;
  }
  #special-1 {
    display: none;
  }
  .head-2nd {
    width: 89%;
    margin: 0 auto;
    position: relative;
  }
  .head-2nd img {
    width: 100%;
  }
  .floating-sec-1 {
    position: absolute;
    width: 30%;
    bottom: 60%;
    font-size: 1rem;
    padding: 10px;
  }
  .floating-sec-2 {
    position: absolute;
    width: 40%;
    bottom: 20%;
    right: 0;
    left: 5%;
    font-size: 14px;
    padding: 10px;
  }
  .floating-sec-1 > .every-bio {
    font-size: 11px;
    line-height: 1.2;
  }
  .floating-sec-2 .every-bio {
    font-size: 11px;
    line-height: 1.2;
  }
  .red-circle {
    width: 39px;
    height: 39px;
  }
}

/* main */
.first-part {
  margin-top: -90px;
}
.first-part-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px;
  margin-top: 60px;
}
.first-part-2 div {
  align-self: center;
}
.first-part-2 div > .every-bio,
.first-part-mini-title {
  text-align: center;
}
.first-part-1 {
  width: 670px;
  margin: auto;
}
.first-part-1 > .every-bio {
  margin-top: -10px;
  text-align: center;
}
.first-part-img {
  border-radius: 50%;
  width: 100%;
  margin: 0 auto;
}
.first-part-img img {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .every-title {
    font-size: 35px;
  }
  .first-part {
    margin-top: 0px;
  }
  .first-part-1 {
    width: 350px;
    margin: auto;
  }
  .first-part-1 > .every-bio,
  .every-title {
    text-align: center;
  }
  .first-part-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .first-part-2 div {
    width: 50%;
    margin: 0px auto;
  }
}

.second-part {
  border-radius: 19px;
  background: rgb(34, 34, 34);
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 160px;
}
.second-part-1 {
  margin: 40px 55px;
  width: 50%;
}
.second-part-1 > .every-title {
  margin-top: 0;
  margin-bottom: 15px;
}
.primary-btn {
  background-color: var(--primary-color);
  border-radius: 50px;
  border: 0;
  width: 56%;
  height: 17.5%;
  font-size: 18px;
  margin-top: 30px;
}
.second-part-2 {
  margin: 30px;
  width: 40%;
}
.second-part-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 19px;
}
@media screen and (max-width: 576px) {
  .second-part {
    gap: 0;
    flex-direction: column;
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 35px;
  }
  .second-part-1,
  .second-part-2 {
    width: calc(100% - 70px);
    margin: 35px;
  }
  .second-part-1 {
    margin-bottom: 0px;
  }
  .second-part-pic {
    width: 100%;
  }
  .second-part-1 > .every-title {
    width: 60%;
    text-align: left;
  }
  .second-part-1 > .every-bio {
    width: 100%;
  }
  .primary-btn {
    width: 100%;
    height: 60px;
  }
}

.third-part {
  margin-top: 100px;
}
.third-part-1 {
  width: 700px;
}
.third-part-2 {
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto-fit(8, 1fr);
  grid-template-rows: auto-fit(2, 1fr);
}
.grid {
  width: 100%;
  height: 250px;
  color: white;
  background-size: cover;
  background-position: center;
}
.grid > p {
  position: relative;
  font-weight: 600;
}
.grid-1 {
  grid-area: 1/1/2/3;
  background-image: linear-gradient(
      rgba(0, 255, 225, 0.364),
      rgba(0, 255, 225, 0.364)
    ),
    url(images/exercise1.jpg);
}
.grid-1 > p {
  position: relative;
  left: 30px;
  top: 180px;
  color: black;
}
.grid-2 {
  grid-area: 1/3/2/7;
  background-image: linear-gradient(
      rgba(255, 0, 0, 0.348),
      rgba(255, 0, 0, 0.348)
    ),
    url(images/exercise2.png);
}
.grid-2 > p {
  position: relative;
  left: 40px;
  top: 10px;
}
.grid-3 {
  grid-area: 1/7/2/9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(images/exercise3.png);
}
.grid-3 > p {
  position: relative;
  left: 30px;
  top: 180px;
}
.grid-4 {
  grid-area: 2/1/3/4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(images/exercise4.png);
}
.grid-4 > p {
  position: relative;
  top: 10px;
  left: 240px;
}
.grid-5 {
  grid-area: 2/4/3/6;
  background-image: linear-gradient(
      rgba(27, 255, 2, 0.27),
      rgba(27, 255, 2, 0.27)
    ),
    url(images/exercise5.jpg);
}
.grid-5 > p {
  position: relative;
  top: 180px;
  left: 30px;
}
.grid-6 {
  grid-area: 2/6/3/9;
  background-image: linear-gradient(rgb(0, 89, 255, 0.3), rgb(0, 89, 255, 0.3)),
    url(images/exercise6.jpg);
}
.grid-6 > p {
  position: relative;
  top: 180px;
  left: 40px;
}

@media screen and (max-width: 576px) {
  .grid {
    height: 150px;
  }
  .grid > p {
    display: none;
  }
  .third-part-1 {
    width: 100%;
  }
  .third-part-1 > .every-title {
    text-align: left;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .third-part-1 > .every-bio {
    text-align: left;
    /* margin-left: 20px; */
    width: calc(100% -40px);
    margin-left: 20px;
  }
  .third-part-2 {
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 40px;
  }
}

.fourth-part-1 {
  width: 700px;
  margin: auto;
  margin-top: 100px;
}
.fourth-part-1 > .every-title {
  margin-bottom: 15px;
}
.fourth-part-main {
  background-color: rgb(34, 34, 34);
}
.fourth-part-2 {
  margin-top: 48px;
  padding-top: 60px;
  padding-bottom: 105px;
  display: flex;
  justify-content: space-between;
}
table {
  border: 2px solid white;
  border-collapse: collapse;
}
td,
th {
  border: 2px solid rgba(255, 255, 255, 0.107);
  width: 170px;
  padding: 15px 0;
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;
}
th {
  text-align: left;
  color: white;
}
.fourth-part-box {
  width: 590px;
}
input,
select {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 0;
  padding-left: 12px;
  border: 0;
  width: 45.5%;
  margin-top: 15px;
  margin-right: 12px;
}
select {
  color: rgba(255, 255, 255, 0.35);
  width: 47.6%;
}
.activity {
  width: 98%;
}
@media screen and (max-width: 576px) {
  .fourth-part-2 {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-top: 20px;
  }
  .fourth-part-1 {
    width: calc(100% - 40px);
    margin-top: 140px;
    margin-left: 20px;
  }
  .fourth-part-1 > .every-title {
    text-align: left;
  }
  .fourth-part-table {
    margin-left: 20px;
  }
  .fourth-part-box {
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-top: 40px;
  }
  input,
  select {
    width: 43.5%;
  }
  select {
    width: 46%;
  }
  .activity {
    width: 95.5%;
  }
  .fourth-part-box > .primary-btn {
    width: 60%;
  }
}

.fifth-part{
  margin-top: 100px;
}
.fifth-part-1{
  width: 700px;
  margin: 0 auto;
}
.fifth-part-1 > .every-title, .fifth-part-1 > .every-bio{
  text-align: center;
}
.fifth-part-1 > .every-title{
  margin-bottom: 18px;
}
.fifth-part-2 > .grid-five > p {
  position: relative;
  top: 190px;
  left: 15px;
  font-size: 17px;
}
.big {
  font-weight: 800;
  margin-bottom: 0;
}
.small {
  font-weight: 100;
  margin-top: 10px;
}
.fifth-part-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.12);
  padding: 20px;
  margin-top: 55px;
}
.grid-five {
  width: 100%;
  height: 280px;
}
.grid-five-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(images/trainer1.png);
  border-radius: 18px;
  background-size: cover;
}
.grid-five-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(images/trainer2.png);
  border-radius: 18px;
  background-size: cover;
}
.grid-five-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(images/trainer3.png);
  border-radius: 18px;
  background-size: cover;
}
.grid-five-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(images/trainer4.png);
  border-radius: 18px;
  background-size: cover;
  background-position: 400px;
}
.grid-five-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(images/trainer5.png);
  border-radius: 18px;
  background-size: cover;
}
.grid-five-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)),
    url(images/trainer6.png);
  border-radius: 18px;
  background-size: cover;
}
@media screen and (max-width: 576px){
  .fifth-part-1{
   width: calc(100% - 40px);
   margin-left: 20px;
  }
  .fifth-part-1 > .every-title, .fifth-part-1 > .every-bio{
    text-align: left;
  }
  .fifth-part-2{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,1fr);
    width: calc(100% - 80px);
    margin-left: 20px;
    margin-top: 25px;
  }
  .grid-five {
  width:100%;
  }
}


footer{
  background: rgba(255, 255, 255, 0.1);
  margin-top: 110px;
  margin-bottom: 0px;
}
.footer{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-top: 55px;
  padding-bottom: 40px;
}
.footer-sec-1{
  width: 40%;
}
.footer-sec-1 > .every-title{
  font-style: italic;
  color: var(--primary-color);
}
.help{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 17.5px;
}
.copyright{
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
font-size: 16px;
font-weight: 400;
letter-spacing: 0.3px;
margin: 0;
padding: 20px 0;
}
.footer-sec-1 > .every-title{
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 576px){
  .footer{
    flex-direction: column;
    width: calc(100% - 40px);
    margin-left: 20px;
    padding-top: 50px;
    gap: 35px;
  }
  .footer-sec-1 > .every-title{
    text-align: left;
    font-size: 60px;
    margin-bottom: 22px;
  }
}